streamlit
import streamlit as st
import requests
import re
import time
import json
import networkx as nx
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import numpy as np
import pandas as pd
from matplotlib.colors import to_rgba
import plotly.graph_objects as go
import random
import concurrent.futures
from functools import lru_cache
from bs4 import BeautifulSoup
import xml.etree.ElementTree as ET
import os